.About-Div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  align-items: center;
}
.about-details {
  width: 500px;
  padding: 20px;
  text-align: center;
  align-items: center;
  height: 40vh;
}
@media (max-width: 500px) {
  .about-details {
    width: auto;
    height: auto;
  }
}
