.CocktailHeading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: 30px;
  padding-top: 30px;
}
.imagesss {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.CockTailCenter {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10px;
}
.content-container {
  border-radius: solid brown 20px;
  box-shadow: var(--lightShadow);

  border-radius: var(--mainBorderRadius);
}
.Detials-Div {
  display: flex;
  margin: 10px;
}
#Detials-btn {
  padding: 0.25rem 0.4rem;
  color: #fff;
  color: var(--mainWhite);
  border-color: transparent;

  background: #476a2e;
  background: var(--primaryColor);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  letter-spacing: var(--mainSpacing);

  cursor: pointer;
  font-size: 0.8rem;

  border-radius: 0.25rem;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
}
