.CocktailHeading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: 30px;
  padding-top: 30px;
}
.imagesss {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.CockTailCenter {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10px;
}
.content-container {
  border-radius: solid brown 20px;
  box-shadow: var(--lightShadow);

  border-radius: var(--mainBorderRadius);
}
.Detials-Div {
  display: flex;
  margin: 10px;
}
#Detials-btn {
  background: #476a2e;
}
