.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 10px;
  grid-row-gap: 2rem;
  row-gap: 2rem;
  grid-column-gap: 2rem;
  -webkit-column-gap: 2rem;
  column-gap: 2rem;
}
@media (max-width: 1000px) {
  .main-section {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 665px) {
  .main-section {
    grid-template-columns: 1fr;
  }
}
.inputsSearch {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 30px;
}
